base {
  log_debug = off;
  log_info = off;
  log = "stderr";
  daemon = ${RS_DAEMON};
  user = redsocks;
  group = redsocks;
  redirector = iptables;
}

redsocks {
  #splice = false;
  bind = "${RS_LISTEN_HOST}:${RS_LISTEN_PORT}"; 

  type = http-connect;
  relay = "${RS_PROXY_HOST}i:${RS_PROXY_PORT}";
}
