base {
  log_debug = ${RS_LOG_DEBUG};
  log_info = ${RS_LOG_INFO};
  log = "stderr";
  daemon = ${RS_DAEMON};
  user = redsocks;
  group = redsocks;
  redirector = iptables;
}

redsocks {
  bind = "${RS_LISTEN_HOST}:${RS_LISTEN_PORT}"; 

  type = http-connect;
  relay = "${RS_PROXY_HOST}:${RS_PROXY_PORT}";
}
